<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Urbanist:wght@500&display=swap" rel="stylesheet">

<nav>
  <div class="left">
    <h1>GYM</h1>
  </div>
  <div class="right">
    <ul>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Ibaad Ur Rahman</a>
      </li>
      <li>
        <a href="#">Shop</a>
      </li>
    </ul>
  </div>
  <div class="extRight">
    <button>Let's Talk</button>
  </div>
</nav>
